.signupForm {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.301);
  width: 800px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.75rem;
}

.signupForm .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.signupForm .inputs input {
  width: 400px;
  height: 30px;
  padding: 0 10px;
}

.signupForm .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signupForm .actions {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.signupForm .actions button {
  width: 150px;
  padding: 7px 0;
  border-radius: 0.7rem;
  border: none;
  transition: 0.3s;
  color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;
}

.signupForm .actions button:nth-of-type(1) {
  background-color: rgba(0, 128, 0, 0.7);
}

.signupForm .actions button:nth-of-type(2) {
  background-color: rgba(255, 0, 0, 0.7);
}

.signupForm .actions button:nth-of-type(1):hover {
  background-color: green;
}

.signupForm .actions button:nth-of-type(2):hover {
  background-color: red;
}

.signupForm .actions button {
  width: 150px;
  padding: 7px 0;
  border-radius: 0.7rem;
  border: none;
  transition: 0.3s;
  color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;
}
