.activeUsers {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.user {
  padding: 20px;
  text-align: center;
  width: calc(90% / 3);
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  position: relative;
  border-radius: 0.75rem;
  transition: 0.1s;
  position: relative;
}

.user .front {
  position: absolute;
  transition: 0.3;
  transition-delay: 0.3s;
  overflow: hidden;
}

.user .front:hover {
  overflow: hidden;
}

.user .back {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  position: absolute;
  z-index: -1;
  background-color: brown;
}

.user button.vis {
  top: 90%;
}

.user button.hidden {
  top: 30px;
}

.user .expand {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #1ed760;
  color: #1ed760;
  background-color: #0cbe4a;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  bottom: -7px;
  color: #fff;
}

.user .expand:hover {
  background-color: #1ed760;
}
