.header {
  min-height: 50px;
  margin-bottom: 30px;
  position: relative;
  left: 0;
  top: 0;
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: flex-end;
}

.header .profile {
  margin-left: 10px;
}


.header button {
  padding: 5px 20px;
  transition: 0.3s;
  transition-delay: 0.4s;
  background-color: #fff;
  color: #1db954;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-size: 100% 400%;
  background-position: 100% 0%;
  transition: 0.2s;
}

.header button:hover {
  color: #fff;
  background-position: 100% 100%;
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 221, 147, 1) 100%
  );
  cursor: pointer;
}
